[tools]
{{- if eq .chezmoi.os "linux" }}
bat = "latest"
delta = "latest"
eza = "latest"
fd = "latest"
fzf = "latest"
ghq = "latest"
github-cli = "latest"
neovim = "latest"
ripgrep = "latest"
starship = "latest"
tmux = "latest"
lazygit = "latest"
{{- end }}
pnpm = "latest"
